# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @azure/health-data-services-sdk-admins will be requested for
# review when someone opens a pull request.
# Lines starting with '#' are comments.

# These owners will be the default owners for everything in the repo.
*       @microsoft/health-data-services-sdk-admins
