###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text auto

# Force crlf on checkout
*.sln text eol=crlf
*.csproj text eol=crlf
*.cs text eol=crlf

*.png binary
*.jpg binary
*.svg binary
*.vsdx binary